* {
    scrollbar-width: thin;
    scrollbar-color: white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  /* *::-webkit-scrollbar-track {
    background: black;
  } */
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
  }